@import "tailwindcss";

@theme{
    --font-nian:'Nian';
    --font-montserrat:'Montserrat';
}

body{
    @apply bg-gradient-to-br bg-fixed from-[#0b0b0b] to-[#2a2a2a] text-white font-nian;
}

.container{
    @apply max-w-[1000px] mx-auto;
}